# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
.yarn/
!.yarn/releases

# Distribution folders
dist/
dist-ssr

# Local environment files
*.local
.env
.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/*.code-snippets
.idea
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# macOS
.DS_Store

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
